html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin-bottom: 60px;
}

.vertical-middle {
    vertical-align: middle;
}

.font-weight-600 {
    font-weight: 600;
}

.open-insert-modal-btn {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.container-nav {
    margin: 0 200px;
}

.buttons-cell {
    text-align: end;
}

.form-label {
    padding-left: 20px !important;
}

.transaction-cell {
    display: block;
}

.transaction-name {
    font-size: 22px;
    margin-bottom: -30px;
}

.transaction-date {
    font-size: 13px;
    color: blue;
    margin-bottom: -30px;
}

.transaction-type-income {
    font-size: 13px;
    color: green;
}

.transaction-type-expense {
    font-size: 13px;
    color: red;
}

.transaction-category {
    font-size: 22px;
}

.transaction-amount-income {
    font-size: 22px;
    color: green;
}

.transaction-amount-expense {
    font-size: 22px;
    color: red;
}

.filter-button {
    display: block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.modal-container {
    padding-top: 50px;
}

.transaction-input {
    margin-bottom: 15px;
}

.form-button {
    width: 100%;
    margin-bottom: 5px;
}

.delete-confirmation-message {
    font-weight: 600;
    font-size: 20px;
}

.delete-modal-container {
    padding-top: 25px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .container-fluid {
        padding: 0 200px !important;
    }
}

@media (max-width: 768px) {
    .container-nav {
        margin: auto;
    }

    .transaction-name {
        font-size: 15px;
        padding: 3px 0;
    }

    .transaction-category {
        font-size: 15px;
    }

    .transaction-amount-income {
        font-size: 15px;
    }

    .transaction-amount-expense {
        font-size: 15px;
    }

    .transaction-date {
        font-size: 11px;
    }

    .transaction-type-income {
        font-size: 11px;
    }

    .transaction-type-expense {
        font-size: 11px;
    }
}
