<div class="modal-content delete-modal-container">

    <form asp-action="DeleteTransaction" id="deleteTransactionForm" method="post" class="form-horizontal" role="form">

        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 mt-3 mb-5 justify-content-center">
                <p class="delete-confirmation-message">Are you sure?</p>
                <input type="submit" class="btn btn-success form-button" value="Yes" />
                <button type="button" id="close-delete-transaction-modal" class="btn btn-danger form-button">Cancel</button>
            </div>
        </div>

    </form>

</div>