@model BudgetViewModel

<form asp-action="Index" method="post" class="form-horizontal" role="form">
    <div class="row">
        <div class="col-lg-11 col-md-11">
            <div class="row">
                <div class="form-floating filter-input col-lg-4 col-md-4">
                    <select asp-for="FilterParameters.CategoryId" class="form-select" placeholder="Category">
                        <option value="0"></option>
                        @foreach (var category in Model.FilterParameters.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <label asp-for="FilterParameters.CategoryId" class="form-label">Category</label>
                    <span asp-validation-for="FilterParameters.CategoryId" class="text-danger"></span>
                </div>

                <div class="form-floating col-lg-4 col-md-4">
                    <input type="text" asp-for="FilterParameters.StartDate" onfocus="(this.type='date')" class="form-control" />
                    <label asp-for="FilterParameters.StartDate" class="form-label"></label>
                    <span asp-validation-for="FilterParameters.StartDate" class="text-danger"></span>
                </div>
                <div class="form-floating col-lg-4 col-md-4">
                    <input type="text" asp-for="FilterParameters.EndDate" onfocus="(this.type='date')" class="form-control" />
                    <label asp-for="FilterParameters.EndDate" class="form-label"></label>
                    <span asp-validation-for="FilterParameters.EndDate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-lg-1 col-md-1 filter-button-wrapper">
            <button type="submit" class="btn btn-success filter-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                    <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                </svg>
            </button>
        </div>

    </div>
</form>